# Quarto
/.quarto/
/_freeze/
/docs/

# Python
__pycache__/
*.py[cod]
*.ipynb_checkpoints/
.ipynb_checkpoints/
.jupyter_cache/

# LaTeX / TinyTeX
*.aux
*.log
*.out
*.toc
*.synctex.gz
*.fls
*.fdb_latexmk

# macOS
.DS_Store
.AppleDouble
.LSOverride

# VS Code
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

# Временные файлы
*.tmp
*.bak
~$*

**/*.quarto_ipynb
